.header{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width:73%;
    background-color: white;
    padding-top: 15px;
}
.button{
    padding: 10px;
    margin-left: 15px;
    border-radius: 5px;
}

