.header{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.button{
    padding: 10px;
    margin-left: 15px;
    border-radius: 5px;
}

.Cards{
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 15px;
    grid-column-gap: 30px;
}