.App {
    width: 100%;
	min-height: 97vh;
	display: flex;
	position: relative;
}

.main{
    width: 85%;
	margin-right: 15%;
}

.Instruction{
    height: 100%;
    width: 15%;
	position: fixed;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black ;
    padding-left: 5px;
}